<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>E:\workspace\chickenRun\Win32Player\Win32Player.exe</StartProgram>
    <StartArguments>-w720 -h1280 -sw480 -sh800</StartArguments>
    <StartWorkingDirectory>E:\workspace\chickenRun\Win32Player</StartWorkingDirectory>
  </propertyGroup>
</Project>